.td-right {
  float: right;
  border:  none;
}

.tr-right{
  text-align: right;
}

button{
  margin-left: 10px;
}

.h4-log{
  font-weight: bold;
  color: white;
}

.img{
  border: solid 2px black;
  background-color: black;
  height: 100px;
  width: 100px;
}

.dropZone{
  height:  100px;
  width: 100px;
}

.colorChange {
  background: #51ec4b;
  color: #51ec4b;
  transition: 1s;
}

.bounce {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

#menu {
  position: fixed;
  width: 100%;
  z-index: 1;  
}

.container{
  padding-top: 75px;
}